li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

body{
    background-color:darkslateblue;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: start;
    align-items: center;
}

.navbar__menu{
    display: flex;
    gap: 2rem;
}

